@font-face {
    font-family: FuturalTPRO;
    src: url(Futural/FuturaLTProBook.otf);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FuturalTPRO;
}

/* colors */

:root {
    --principal-color: #2a511b;
}

/* mobile */

.mobile {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 6%;
    z-index: 999; /* Opțional, pentru a asigura că imaginea este deasupra altor elemente */
    cursor: pointer;
}

/* h1 title */

h1 {
    color: var(--principal-color);
    text-align: center;
}

/*  first section */

.first-section img {
    width: 100%;
    height: auto;
}

/*descriere */

.descriere p {
    color: var(--principal-color);
    text-align: center;
}

.descriere-camera {
    text-align: center;
}

/* imagini */

.cazare-img {
    display: flex;
    justify-content: space-around;
}

.cazare-img img {
    width: 30%;
    height: 17em;
}

/* buton fa o rezervare */

.call-me {
    display: flex;
    justify-content: center;
}

.call-me button {
     background-color: var(--principal-color);
     color: white;
     border: none;
     width: 15%;
     text-align: center;
     height: 5%;
}

/* contact form */

.contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    flex: 1;
    padding: 10px;
}

.right {
    flex: 1;
    padding: 10px;
}

.left input,
.right textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

.right a {
     text-decoration: none;
     color: black;
     font-size: 1em;
}

.send-btn {
   padding: 2%;
   display: flex;
   justify-content: center;
}

/* footer */

footer {
    background-color: var(--principal-color);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    width: 24%;
    display: flex;
    align-self: center;
}

.logo p {
    margin: 0%;
    text-align: center;
    color: rgb(254, 255, 255);
    font-size: 1.7em;
    word-spacing: 2px;
    font-weight: 100;
    font-style: italic;
}

/* footer menu */

.footer-menu {
    text-align: center;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    word-spacing: 5px;
}

/* media tablet mode */

@media screen and (max-width: 992px) {
    .cazare-img img {
        height: 13em;
    }
}


/* media for contact form */
  
@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }

    .left,
    .right {
        width: 80%;
        padding: 10px;
    }

    .left p {
        text-align: center !important;
    }

    .right p {
        text-align: center;
    }
}


/* media querry*/

@media screen and (max-width: 576px) {
   
.logo p {
    font-size: 1.2em;
    margin: 0% 7%;
}

.cazare-img img {
    width: 30%;
    height: 6.5em;
}

.call-me button {
    width: 40%;
}

.footer-menu {
    margin: 2% 6%;
 }

 /* mobile */
 .mobile {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 16%;
    z-index: 999; /* Opțional, pentru a asigura că imaginea este deasupra altor elemente */
}

.logo img {
    width: 50%;
}

}

