/* general settings page */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* background-image */

.bg-img-stiai-ca h2 {
    font-size: 4em;
}

.bg-img-stiai-ca p {
    width: 50%;
}


/* sectiunea articole */

.container-art {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-art .col-lg-4 {
    margin: 5% 0;
    display: flex;
    justify-content: center;
}







/* phone view */

@media only screen and (max-width: 767px)  {
    
.bg-img-stiai-ca p {
    width: 90%;
}

/* sectiunea articole */

}